# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
build

# env
.env
.env.local
.env.*.local

# data
data/
*.db
*.db-journal

# debug / os
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem

# typescript
next-env.d.ts
*.tsbuildinfo
